/* Write your CSS here */
.bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: black;
  }
  
  .heading {
    color: black;
    font-size: 50px;
    font-family: roboto;
  }
  
  .destination-items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
  }
  
  .search-input-container{
    display: flex;
    justify-content: center;
    background-color: #bfcadb;
    border-radius: 8px;
  }

.search-img{
  height:40px;
  width:40px
}

.search-input-element{
  background-color: #bfcadb;
  border-radius: 8px;
  outline:none;  
  border:0px;
}